*{
  font-family:serif;
  margin: 0;
  padding: 0;
}

#faq-img{
  background-image: url('./assets/main/bg_main.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: xx-large;
  font-family: serif;
  border-radius: 0 0 20px 20px ;
  height: 30vh;
  width: 100%;
}

#faq-heading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px;
}

#faq-heading h3{
  color: rgb(233, 168, 48);
}

#faq-heading h1{
  font-size: xx-large;
  color: rgb(9, 9, 97);
}

#faq-heading h1 span{
  color: rgb(6, 146, 165);
}

.faq-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#faq-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(231, 229, 229);
  padding: 60px 60px;
  font-size: small;
  flex-wrap: wrap;

}

#faq-footer h3{
  font-weight: 500;
  
}

#first{
  width: 25%;
}

#first p, #second p{
  margin:15px 0 15px 0 ;
}

#second{
  display: flex;
  flex-direction: row;
  gap:30px;
  width: 30%;

}

#third{
  width: 25%;
}

#social-icon{
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 767px) {
  #third{
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #third>.MuiBox-root {
    width: 50%;
  }
}
@media screen and (max-width: 653px){

  #first{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #second{
    margin: 30px 0 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
